html,
body {
  margin: 0;
  padding: 2% 0 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 12pt;
}

body {
  background-color: #684eff;
  text-align: center;
}

#rainbow-matrix {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

#gradient {
  position: fixed;
  background-image: radial-gradient(circle, #ff7bf588 0%, #ff7bf500 70%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: -1;
}

#logo {
  position:relative;
  z-index: 100;
  width: 100%;
  max-height: 30rem;
  max-width: 80%;
  height: auto;
  padding-bottom: 2rem;
  transition: max-height 1s ease;
  fill-opacity: 0;
}

#logo.small {
  max-height: 10rem;
}

.hidden {
  display: none !important;
}

div#password-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#password-container input {
  max-width: 80%;
  height: 30px;
  background: none;
  /*border:none;*/
  /*border-bottom: 2px solid white;*/
  border-radius: 5px;
  border: 1px solid white;
  padding: .5rem;
  opacity: 70%;
  color: white;
  font-size: 18px;
}

#password-container input.error {
    animation: shake 0.3s ease-in-out;
    border-color: red;
    box-shadow: 0 0 5px red;
}

#password-container input.success {
    border-color: green;
    animation: glow_success 0.5s ease-in-out 5 alternate;
}

@keyframes glow_success {
  from {
    box-shadow: 0 0 5px lime, 0 0 10px lime, 0 0 15px limegreen, 0 0 20px limegreen;
  }
  to {
    box-shadow: 0 0 10px lime, 0 0 20px lime, 0 0 30px limegreen, 0 0 40px limegreen;
  }
}

#password-container input.success + .checkmark {
    display: inline;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-10px); }
    40%, 80% { transform: translateX(10px); }
}

#password-container button {
  border:none;
  border-radius: 2rem;
  color:white;
  font-size: 18px;
  margin-left:.3rem;
  padding: .5rem 2rem;
  font-weight: bold;
  background: linear-gradient(to bottom right, #d441d4, #ff6dff, #fcd1df);
  cursor: pointer;
}

#password-container button:disabled {
  opacity: .5;
  cursor: default;
}

#render-container {
  display: block;
  position: relative;
  top: -250px;
  height: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 15px;
  color: indigo;
  padding-top: -50px;
  transition: top 1s ease-in-out;
}

#render-container #logo {
  display: block;
  position: relative;
  top: -180px;
  left: 30%;
}

#contents {
  display: block;
  position: relative;
  top: 250px;

}

#contents h1 {
  font-size: 3em;
  text-shadow: purple 1px 0 6px;
}

#contents h2 {
  margin-bottom: 2px;
}

#contents h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.checkmark {
    display: none;
    color: white;
    text-shadow: 0 0 5px lime;
    position: relative;
    right: 30px;
    top: 3px;
    transform: translateY(-50%);
    font-size: 1.5em;
}


div.above {
  top: -1750px !important;
}